<!doctype html>
<html>

<head>
    <title>CS Flash Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='highlight-theme-github.css') }}" />
    <script src="{{ url_for('static', filename='highlight.pack.js') }}"></script>
    <style>
        @media (max-width: 768px) {
            .navbar {
                padding: 5px 10px;
                /* Reduce padding */
            }

            .navbar-brand {
                font-size: 16px;
                /* Reduce brand text size */
            }

            .nav>li>a {
                font-size: 14px;
                /* Reduce menu item text size */
                padding: 5px 10px;
                /* Adjust padding */
            }
        }
        .navbar-collapse.collapse {
    display: none !important;
}

.navbar-collapse.in {
    display: block !important;
}
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br />
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-menu">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ url_for('index') }}">CS Flash Cards</a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-right">
                                {% if not session.logged_in %}
                                <li><a href="{{ url_for('login') }}">log in</a></li>
                                {% else %}
                                <li><a href="{{ url_for('cards') }}">cards</a></li>
                                <li><a href="{{ url_for('tags') }}">tags</a></li>
                                <li><a href="{{ url_for('show') }}">show</a></li>
                                <li><a href="{{ url_for('list_db') }}">list database</a></li>
                                <li><a href="{{ url_for('create_db') }}">create database</a></li>
                                <li><a href="{{ url_for('memorize', card_type='1') }}">memorize</a></li>
                                <li><a href="{{ url_for('memorize_known', card_type='1') }}">memorize known items</a>
                                </li>
                                <li><a href="{{ url_for('logout') }}">log out</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>

        </div>
        <div class="row" style="margin-top: 60px;">
            <div class="container">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>


    <!-- jQuery (MUST be loaded first) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Bootstrap 3.4.1 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <!-- jQuery (must be included before Bootstrap JS) -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <script src="https://use.fontawesome.com/8cea844162.js"></script>
    <script src="{{ url_for('static', filename='fastclick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='general.js') }}"></script>
</body>

</html>